/* Fonts Import */
@font-face {
	font-family: "Segoe-light";
	src: url(../res/segoe-ui-light.ttf) format("truetype");
}
@font-face {
	font-family: "Segoe-regular";
	src: url(../res/segoe-ui.ttf) format("truetype");
}
@font-face {
	font-family: "Brusher";
	src: url(../res/brusher.ttf) format("truetype");
}

/* Styling */

body {
	font-family: Segoe-regular;
	background-color: #EEEEEE;
}

.canvas-layout {
	min-width: 80vw;
	min-height: 75vh;

	position: fixed;
	bottom: 0;
	left: 0;

	background-color: #b1b1b1;
}

.options {
	font-family: Brusher;
	min-width: 20vw;
	min-height: 75vh;
	
	border: 1px solid black;

	position: fixed;
	float: right;
	right: 0;
	bottom: 0;
}
.option-label{
	text-align: center;
	width: inherit;
	line-height: 25vh;

	font-size: 6vw;
}
.option-label > a{
	color: black;
	text-decoration: none;
	transition: all 0.5s;
}
.option-label > a:hover {
	color: #b1b1b1;
}

/* Responsive layout */
@media screen and (max-width: 768px) {
}